
.men li{
	border-bottom:1px solid #fff;

}
.men li a{
	background-color:#33CCFF;
	color:#003366;
}

.men li a:hover{
	background-color:#33CCFF;
}


.menu li a{
	background-color:#FFFF99;
}

.spn{
	font-size:14px;
}

.hdr{
background-color:#3e4d5c;
}

.txt{
color:#fff;
}

.line{
border-left:1px solid #000066;
}

.content{
margin-left:50px;
}

.para{

font-family:Arial, Helvetica, sans-serif;
text-align:justify;
line-height:20px;

}
